.external-style-body {
	background-color: greenyellow;
} 
/* external-style-body style the entire website screen:
- The background color sets the entire webistes background color to greenyellow.*/
.h1 {
	text-align: center;
	color: darkblue;
} 
/* h1 styles the CodePride name, which is always at the top of the screen: 
- The text-align and color feature center the CodePride name at the top of the screen on the website and makes it dark blue. */
.external-nav-table {
	width: 100%;
	background-color: lightcyan;
	font-size: 1.5em;
} 
/* external-nav-table styles the navigation bar:
- The width increase make the nave bar stretch across the entire screen.
- Background color makes the navigation bar easy to see.
- Font size changes the size of the words on the navigation bar.
*/
.external-nav-td {
	padding: 10px;
}
/* external-nav-td styles the navigation bar: 
- Padding generates space around contents inside of the navigation bar.

